Repository dev-ops-open-hack-9/tripviewer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tomasslivka, @nbarrasson, @jaronets, @pierre-chesne

.github/CODEOWNERS:

/apis/poi/ @tomasslivka
/apis/trips/ @nbarrasson
/apis/user-java/ @jaronets
/apis/userprofile/ @pierre-chesne

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update TRIPS-BUILD-PUSH.yml
  .github/workflows/TRIPS-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update USER-JAVA-BUILD-PUSH.yml
  .github/workflows/USER-JAVA-BUILD-PUSH.yml
Owners: none

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @tomasslivka

Update README.md
  apis/trips/README.md
Owners: @nbarrasson

Update README.md
  apis/user-java/README.md
Owners: @jaronets

Update README.md
  apis/userprofile/README.md
Owners: @pierre-chesne

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Create testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Change tag
  .github/workflows/userprofile.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

.
  .github/workflows/userprofile.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update testnico.yml
  .github/workflows/testnico.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update TRIPS-BUILD-PUSH.yml
  .github/workflows/TRIPS-BUILD-PUSH.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @nbarrasson

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update USER-JAVA-BUILD-PUSH.yml
  .github/workflows/USER-JAVA-BUILD-PUSH.yml
Owners: none

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none

Update POI-BUILD-PUSH.yml
  .github/workflows/POI-BUILD-PUSH.yml
Owners: none
